/* --- Base --- */

// Compass
@import "compass"

// Font weights
$regular: 400
$semi-bold: 600
$bold: 700
$black: 900

// Base font
$base-font-family: 'Raleway', sans-serif
$base-font-weight: $regular
$base-font-size: 16px
$base-line-height: 1.8

// Break points
$break-tiny: "screen and (max-width: 400px)"
$break-small: "screen and (max-width: 600px)"
$break-medium: "screen and (max-width: 768px)"
$break-large: "screen and (max-width: 928px)"

// Header font
$header-font-family: 'Lato', sans-serif
$header-font-weight: $bold
