/* --- Content --- */

.container
  max-width: 1180px
  margin: 0 auto
  padding: 0 20px

.hero
  height: 800px
  background-image: url("../../images/white-dress-flamingo.jpg")

.white-section
  text-align: center

.flex-container
  display: flex

.image-container
  margin-right: 20px
  margin-top: 20px
  max-height: 386.667px
  overflow: hidden
  &:last-child
    margin-right: 0px
  img
    max-width: 386.6667px
