/* --- Content --- */

.container
  max-width: 1200px
  margin: 0 auto

.hero
  height: 800px
  background-image: url("../../images/white-dress-flamingo.jpg")

.white-section
  text-align: center

.column-3
  display: inline
  width: 33.333%
  img
    max-width: 33.333%

.image-caption.container
  display: inline
  overflow: hidden
