/* --- Form --- */

input, textarea
  border: 0

.contact-form
  //background-color: #fff
  width: 350px
  margin: 35px

.form-label, .form-input, .form-input-large
  display: block
  width: 100%
  box-sizing: border-box

.form-label
  position: relative
  top: 25px
  margin-left: 5px
  color: #fff
  font-weight: $bold

.form-input, .form-input-large
  padding-top: 0px
  padding-left: 5px
  border-bottom: 2px solid #fff
  background-color: $primary-pink
  color: #fff
  font: inherit
  font-weight: $bold

.form-input
  padding-bottom: 10px

.form-input-large
  height: 100px
  resize: none

.move-label
  color: #000
