/* --- Modals ---*/

.project-modal
  position: fixed
  z-index: 18
  left: 50%
  top: 50%
  margin-left: -500px
  margin-top: -250px
  visibility: hidden
  opacity: 0
  transition: visibility 0.3s, opacity 0.3s

.modal-flex-container
  display: flex
  justify-content: center

.project-modal-media
  width: 470px
  height: 470px
  padding: 20px
  background: #fff
  overflow: hidden
  &:last-child
    padding-left: 0

.project-modal-img
  width: 470px

.show-modal
  visibility: visible
  opacity: 1

.modal-exit
  position: absolute
  right: 20px
  top: 10px
  font-size: 20px
  cursor: pointer

.modal-selector-container
  position: absolute
  bottom: 10px
  left: 708px

.modal-selector, .modal-selector-arrow
  font-size: 40px
  margin: 0 3px

.modal-selector
  line-height: 1px
