/* --- Typography --- */

body
  font-family: $base-font-family
  font-weight: $base-font-weight
  font-size: $base-font-size
  line-height: $base-line-height

h1
  display: inline
  font-family: $header-font-family
  font-weight: $header-font-weight
